*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.cab {
    background-color: #0D1047;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.logocab {
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.itmtopcab {
    display: inline-block;
    margin: 30% 20px;
    font-size: 20px;
}

.fav {
    background-image: linear-gradient(#0D1047, #125587);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 24px 0;
}

.favconte {
    width: 35%;
}

.favti {
    padding: 24px;
}

.imgfavp {
    width: 25%;
}

.gamefav {
    background-color: #CED1FE;
    padding: 50px;
}

.gamefavti {
    text-align: center;
    padding: 25px 0;
}

.favtodos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

.stardew {
    text-align: center;
}

.stardewlogo {
    width: 120px;
}

.staricons {
    width: 30px;
    padding: 0 5px;
}

.undertale {
    text-align: center;
}

.underlogo {
    width: 120px;
}

.undericon {
    width: 30px;
    padding: 0 5px;
}

.gris {
    text-align: center;
}

.grislogo {
    width: 120px;
}

.grisicon {
    width: 30px;
    padding: 0 5px;
}

.rod {
    background-color: black;
    text-align: center;
}

.imgrod {
    width: 120px;
}